opencv.props
*~
*.orig
*.cache
*.log
*.suo
*.sdf
*.lo
*.tlog
*.ilk
*.obj
*.pdb
*.bsc
*.manifest
*.lastbuildstate
*.aps
*.sdf
*.opensdf
*.idb
*.cache
*.unsuccessfulbuild
Temp/
GeneratedFiles/
ipch/
Base2/**/Debug/*.log
Base2/**/Debug/*.obj
x64/
Base2.sdf
Base2.v12.suo
x64/Debug/Base2.exe
*.swp
Base2/Debug/
Base2/**/Debug/
Base2/x64/Debug/*

