opencv.props
Base2.sdf
Base2.opensdf
Base2.sdf
Base2/x64/Debug/Base2.log
Base2/x64/Debug/Base2.obj
Base2/x64/Debug/Base2.pch
Base2/x64/Debug/Base2.tlog/Base2.lastbuildstate
Base2/x64/Debug/Base2.tlog/cl.command.1.tlog
Base2/x64/Debug/Base2.tlog/CL.read.1.tlog
Base2/x64/Debug/Base2.tlog/link.command.1.tlog
Base2/x64/Debug/Base2.tlog/link.read.1.tlog
Base2/x64/Debug/Base2.tlog/link.write.1.tlog
Base2/x64/Debug/stdafx.obj
Base2/x64/Debug/vc120.idb
Base2/x64/Debug/vc120.pdb
ipch/base2-5448ceb7/base2-fc93d237.ipch
x64/Debug/Base2.exe
x64/Debug/Base2.ilk
x64/Debug/Base2.pdb
